.card {
    display: flex;
    font-size: 14px;
    margin: 10px;
    height: 100px;
}

.card img {
    width: 178px;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}

.card p {
    text-align: center;
}